html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    font-family: "Pixelify Sans", sans-serif;
    overflow: hidden;
}

body {
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg2.jpg");
  color: rgb(231, 255, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
}

h1
{
    font-size: 150px;
    text-align: center;
    margin-top: -300px;
    color:rgb(245, 255, 247);
}
.date-info
{
    font-size: 70px;
    color: rgb(255, 135, 155);
}
.love-message
{
    color: rgb(255, 135, 155);
    margin-bottom: 30px;
}
.extra-info {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    flex-wrap: wrap;
    gap: 20px;
}

.info-box {

    padding: 20px;
    border-radius: 12px;
    flex: 1;
    min-width: 200px;
}

.info-box h3 {
    margin-top: 0;
    color: #ffeef3;
    font-size: 80px;
}

.info-box p {
    font-size: 50px;
    color: #ffebfe;
    margin: 10px 0;
}
